body {
	text-align: justify;
    text-align-last: left;
	div.lang-bar {
		font-size: 10px;
    	padding-top: 10px;
    	padding-bottom: 5px;
		a {
			color: #777;
		}
	}
	div.menu-container {
		nav.top-bar {
			ul.dropdown {
				border: 1px solid #666;
				li {
					a {	line-height: 22px; }
				}
				li.divider { border-color: #aaa;}
			}
		}
	}
	div.content-container {
		padding-top: 30px;
		div.thumbs-container {
			ul.thumbs {
				@include block-grid(2);
			}
		}
		div.gallery-container {
			@include block-grid(1);
		}
		div.press-image {
			padding: 5px;
		}
	}
}