body {
    // general styles
    img.p-compat-right {
        float: right;
        margin: 0 0 10px 10px;
    }
    img.p-compat-left {
        float: left;
        margin: 0 10px 10px 0;
    }
    .clearfix {
        overflow: auto;
    }
    text-align: justify;
    text-align-last: left;

    // end general styles
    div.lang-bar {
		font-size: 14px;
    	padding-top: 10px;
    	padding-bottom: 5px;
		a {
            font-family: 'Questrial', sans-serif;
			color: #777;
		}
	}
	div.menu-container {
		nav.top-bar {
            a {
                font-family: 'Rambla', monospace;
                font-weight: 700;
            }
            ul.title-area {
                li.name {
                    h1 {
                        font-size: 20px;
                    }
                }
            }
            ul.right {
                a {
                    font-size: 16px;
                }
            }
			ul.dropdown {
				border: 1px solid #666;
				li {
                    padding: 3px 0 3px 0;
					a {
                        font-size: 14px;
                        font-weight: 300;
                        line-height: 22px;
                    }
				}
                li:first-child {
                    a { padding-top: 10px;}
                }
				li.divider { border-color: #aaa;}
			}
		}
	}
	div.content-container {
		padding-top: 30px;
        a, p, span {
            font-family: 'Questrial', 'sans-serif';
            font-size: 14px;
        }
        div.front-sidebar {
            @include grid-column(3);
        }
        div.front-main {
            @include grid-column(9);
        }
		div.thumbs-container {
			ul.thumbs {
				@include block-grid(4);
			}
		}
		div.gallery-container {
			@include block-grid(1);
            div.img-caption {
                display: none;
                top: -20px;
                background: shade($jet, 50%);
                background-opacity: 70%;
                padding: 5px 0 5px 0;
                p { margin: 5px; color: rgba(255, 255, 255, 0.7); }
            }
		}
		div.press-image {
			padding: 5px;
		}
        ul.side-nav {
            li {
                a, a:active, a:hover {
                    color: $jet;
                }
            }
        }
	}
}
